  /**//**//**//**//**//**//**//**//**//**/
  @font-face {
    font-family: Coco-Sharp-Extrabold-trial;
    src: url(src/Coco-Sharp-Extrabold-trial.ttf);
  }

  @font-face {
    font-family: Coco-Sharp-Bold-trial;
    src: url(src/Coco-Sharp-Extrabold-trial.ttf);
  }

  body {
    margin: 0;
    font-family: Coco-Sharp-Bold-trial;
    background-color: #efefef;
  }
  
  header {
    background-color: #629677;
    padding: 0.8rem;
  }
 
  img {
    border-radius: 10px;
  }

  header img {
    width: 4.1vw;
    margin: 0.3rem;
  }

  header .linkCentrado {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-size: 1.7vw;
  }

  .divContenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .divSubContenedorIzquierda {
    display: flex;
    align-items: center; 
  }

  .divSubContenedorIzquierda a {
    margin-right: 10px;
  }
  
  .divSubContenedorDerecha {
    display: flex;
    align-items: center; 
  }
  
  .divSubContenedorDerecha a {
    margin: 0 1rem;
    font-family: Coco-Sharp-Bold-trial;
    font-size: 1.7vw;
  }

  .divSubContenedorDerecha img {
    width: 4.1vw;
    border-radius: 100%;
  }

  /**//**//**//**//**//**//**//**//**//**/

  .contenedorTarjetas {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2% 0;
  }
  
  .tarjeta {
    width: 10%;
    font-size: 2.5rem;
  }

  /**//**//**//**//*DIETAS*//**//**//**//**//**/

  .Dcontenedor {
    width: 40%;
    margin: 11rem auto;
  }

  .Dsubcontenedor1 {
    border: 2px solid #222;
    width: 20%;
    border-bottom: 0px;
    border-radius: 8px 8px 0px 0px;
    text-align: center;
  }

  .identificador {
    border: 2px solid #222;
    border-radius: 0 8px 0 0;
    border-bottom: 0;
    padding: 1rem;
    text-align: center;
  }

  .subidentificador {
    width: 100%;
  }

  .Dsubcontenedor2 {
    border: 2px solid #222;
    display: flex;
    border-radius: 0 0 8px 8px;
    border-top: 0px;
  }

  .Dinpu {
    width: 50%;
    margin: 2rem;
  }

  .Dinpu1 {
    margin: 4rem 0;
  }
  
  #Ddiet {
    width: 16rem;
  }

  .Dbuto {
    width: 6rem;
    display: block;
    margin: 0 auto;
    margin: 2.5rem auto;
  }

  .Dinpu2 {
    display: flex;
  }

  /***********************PLATOS***********************/

  article {
    font-size: 1vw;
  }

  textarea {
    width: 15vw;
  }

  .Pcontenedor {
    width: 50%;
    margin: 8rem auto;
    display: none;
  }

  .Psubcontenedor1 {
    width: 20%;
    border: 2px solid #222;
    border-bottom: 0px;
    text-align: center;
    font-style: 2vw;
    border-radius: 8px 8px 0px 0px;
  }

  .Psubcontenedor2 {
    border: 2px solid #222;
    display: flex;
    border-top: 0;
    border-bottom: 0;
  }

  .Psubcontenedor3 {
    border: 2px solid #222;
    display: flex;
    border-radius: 0 0px 8px 8px;
    border-top: 0;
  }

  .Pinpu {
    width: 50%;
    margin: 2rem;
  }
  
  .Pinpu1 {
    margin: 1.5rem;
  }
  
  .Pinpu2 {
    width: 10rem; 
    margin: 1.5rem;
  }

  .Pinpu3 {
    width: 10rem;
  }

  .Pinpu5 {
    margin: 1.5rem;
  }
  
  .Pina {
    width: 100%;
    display: flex;
  }

  #Pdiet {
    width: 8rem;
  }

  .Pbuto {
    width: 6rem;
    display: block;
    /* margin: 0 auto; */
    margin: 4rem auto;
    align-self: center;
    justify-content: center;
  }

/*******************MENU********************/

.Mcontenedor {
  width: 33%;
  margin: 5rem auto;
  display: none;
}

.Msubcontenedor1 {
  border: 2px solid #222;
  width: 20%;
  border-bottom: 0px;
  border-radius: 8px 8px 0px 0px;
  text-align: center;
}

.Msubcontenedor2 {
  display: flex;
  justify-content: space-around;
  border: 2px solid #222;
  border-top: 0;
  border-bottom: 0;
  margin: 0 auto;
}

.Msubcontenedor3 {
  display: flex;
  justify-content: space-around;
  border: 2px solid #222;
  border-top: 0;
  border-radius: 0px 0px 8px 8px;
  margin: 0 auto;
}

.Minpu {
  margin: 2rem auto;
  text-align: center;

}

.Minpu1 {
    margin: 4rem 0;
}

#Mdiet {
  width: 10rem;
}

/*.Mbuto {
  display: block;*/
  /*margin: 0 auto;
}*/

.Mopciones img {
  width: 10vw;
}

.Minpu2 {
  display: flex;
}

.almuerzo, .cena, .Mopciones, .imagenMenu, .cena2 { 
  margin: 2rem;
}

::-webkit-file-upload-button {
  display: block;
}

#Mfail {
  width: 9rem;
}

/**//**//**//**//**//**//**//**//**//**/



  textarea {
    resize: none;
  }

  a {
    text-decoration: none;
    color: #222;
  }

  
  .imagenMenu, .cena2 {
    width: 50%;
    text-align: center;
  }
  
  .imagenMenu img {
    width: 100%;
  }


/**//**//**//**//*COSAS RARAS*//**//**//**//**//**/
 
  
  section .container2 {
    margin-top: 2rem;
  }
/*
  .container2 article p {
    font-size: 4vw;
  }
  */
  .subcontainer {
    width: 50%;
    margin: 3rem;
    text-align: center;
  }
/*
  section p {
    font-size: 5vw;
    margin: 0;
    font-family: Coco-Sharp-Bold-trial;
  }
  */
  .info{
    font-size: 2vw;
  }

  .container3 {
    margin: 4rem 0;
    text-align: center;
  }

  .aboutus {
    font-size: 1vw;
  }

  section article img {
    width: 50%;
  }
/**//**//**//**//**//**//**//**//**//**/
  
/**//**//**//**//**//**//**//**//**//**/
  footer {
    padding: 3rem;
    background-color: #222;
    color: #aaa;
    margin-top: 1rem;
    font-size: 1vw;
  }

  footer p {
    margin: 0;
  }

  footer section {
    float: right;
  }

  footer a {
    transition: 0.3s;
    color: #aaa;
    text-decoration: none;
  }

  footer a:hover {
    color: cornflowerblue;
  }
/**//**//**//**//**//**//**//**//**//**/