/********************************************/

@font-face {
  font-family: Coco-Sharp-Extrabold-trial;
  src: url(src/Coco-Sharp-Extrabold-trial.ttf);
}

@font-face {
  font-family: Coco-Sharp-Bold-trial;
  src: url(src/Coco-Sharp-Extrabold-trial.ttf);
}

body {
  margin: 0;
  font-family: Coco-Sharp-Bold-trial;
  background-color: #efefef;
}

/********************************************/

header {
  background-color: #629677;
  padding: 0.8rem;
}

img {
  border-radius: 10px;
}

header img {
  width: 5rem;
  margin: 0.3rem;
}

header .linkCentrado {
  margin: 0 10px;
  text-decoration: none;
  color: black;
  font-size: 1.5vw;
}

.divContenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.divSubContenedorIzquierda {
  display: flex;
  align-items: center; 
}

.divSubContenedorIzquierda a {
  margin-right: 10px;
}

.divSubContenedorDerecha {
  display: flex;
  align-items: center; 
}

.divSubContenedorDerecha a {
  margin: 0 1rem;
  font-family: Coco-Sharp-Bold-trial;
  font-size: 1vw;
}

.divSubContenedorDerecha img {
  border-radius: 100%;
}

/********************************************/

a {
  text-decoration: none;
  color: #222;
}

section article img {
  width: 50%;
}

/********************************************/

.contenedorMenues {
  width: 90%;
  margin: 5rem auto;
}

.subContenedorMenues {
  display: flex;
  border-radius: 0px 8px 0px 0px;
  border-bottom: 0;
  justify-content: space-evenly;
}

/*   CONTENEDOR MENU - INICIO   */

.contenedorMenu {
  width: 20%;
  height: 30%;
  margin: 2rem;
  border: 2px solid #222;
  border-radius: 8px;
}

.contenedorMenu h2 {
  font-size: 2vw;
  margin: 1.7vh 2.7vw;
}

.contenedorMenu p {
  text-align: center;
  margin: 2.4vh 0;
  font-size: 1.5vw;
}

.contenedorMenu img {
  width: 100%;
  border-radius: 0;
}

/*   CONTENEDOR MENU - FIN   */

a {
  text-decoration: none;
  color: #222;
}

/******************************/

.contenedorTextoImagen {
  width: 100%;
  /*border: 2px solid #222;*/
  justify-content: space-between;
  display: flex;
}

.contenedorTextoImagen img  {
  width: 25%;
}

.subContenedorTexto {
  width: 60%;
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  align-items: center;
  
}

.h2Oracion {
  font-size: 4vw;
  text-align: center;
}

.subContenedorImagen {
  width: 40%;
  text-align: center;
  margin: 2rem;
}

.subContenedorImagen img {
  width: 60%;
  border: 2px solid black;
}
/********************************************/

footer {
  padding: 3rem;
  background-color: #222;
  color: #aaa;
  margin-top: 1rem;
  font-size: 1vw;
}

footer p {
  margin: 0;
}

footer section {
  float: right;
}

footer a {
  transition: 0.3s;
  color: #aaa;
  text-decoration: none;
}

footer a:hover {
  color: cornflowerblue;
}