.Dcontenedor {
    width: 40%;
    margin: 11rem auto;
  }

  .Dsubcontenedor1 {
    border: 2px solid #222;
    width: 20%;
    border-bottom: 0px;
  }

  .Dsubcontenedor2 {
    border: 2px solid #222;
    display: flex;
    
  }

  .Dinpu {
    width: 50%;
    margin: 2rem;
    }

  .Dinpu1 {
      margin: 4rem 0;
  }
  
  #Ddiet {
    width: 16rem;
  }

  .Dbuto {
    width: 6rem;
    display: block;
    margin: 0 auto;
    margin: 2.5rem auto;
  }

  .Dinpu2 {
    display: flex;
  }