
  /****************** TARJETAS ******************/

  .contenedorTarjetas {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2% 0;
  }
  
  .tarjeta {
    width: 10%;
    font-size: 2.5rem;
  }

  /****************** STOCK FALTANTES ******************/

  .contenedorStocksFaltantes {
    width: 60%;
    margin: 5rem auto;
  }
  
  .subContenedorTitulo {
    width: 20%;
    border: 2px solid #222;
    border-bottom: 0px;
    border-radius: 8px 8px 0px 0px;
    font-size: 1.5vw;
    text-align: center;
  }

  .subContenedorMenusFaltantes {
    border: 2px solid #222;
    display: flex;
    border-radius: 8px;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 1vw;
  }
  
  .menuFaltante {
    width: 20%;
    margin: 2rem;
    border: 2px solid #222;
    border-radius: 8px;
  }

  .botonesStockFaltante {
    display: block;
    margin: 0 auto;
    margin: 0.5rem auto;
  }

  /****************** METAS ******************/

  .contenedorMetas {
    width: 60%;
    margin: 5rem auto;
    display: none;
  }
  
  .subContenedorComboMetas {
    border: 2px solid #222;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 1vh;
  }

  .divMeta {
    width: 20%;
    margin: 2rem;
    border: 2px solid #222;
    border-radius: 8px;
  }

  /****************** - ******************/

  h2 {
    margin: 0.5rem 1rem;
  }

  p {
    text-align: center;
  }

  section article img {
    width: 100%;
    border-radius: 0;
  }
  
  .boton {
    width: 8vw;
    height: 3rem;
    font-size: 1vw;
    text-align: center;
    border-radius: 6px;
    border: 2px solid #222;
    font-family: Coco-Sharp-Extrabold-trial;
    cursor: pointer;
  }
  
  /****************** - ******************/

