
  /****************** TARJETAS ******************/

  .contenedorTarjetas {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2% 0;
  }
  
  .tarjeta {
    width: 10%;
    font-size: 2.5vw;
  }

 /****************** STOCK ******************/

  .contenedorStock {
    width: 60%;
    margin: 5vh auto;
  }

  .subContenedorTitulo {
    width: 20%;
    border: 2px solid #222;
    border-bottom: 0px;
    border-radius: 8px 8px 0px 0px;
    font-size: 1.5vw;
    text-align: center;
  }

  .subContenedorCombo {
    border: 2px solid #222;
    display: flex;
    border-radius: 8px;
    justify-content: space-evenly;
    margin: 1vw;
  }

  .divMenu {
    width: 20%;
    margin: 2vw;
    border: 2px solid #222;
    border-radius: 8px;
  }

/****************** PEDIDOS ******************/

  .contenedorPedidos {
    width: 60%;
    margin: 3vw auto;
    display: none;
  }

  .subContenedorPedidos {
    display: block;
    justify-content: space-evenly;
    padding: 1vw;
  }

  .divPedido {
    display: flex;
    border: 2px solid #222;
    border-radius: 0px 8px 8px 8px;
  }
  
  .divDatosPedido {
    align-self: center;
    width: 20%;
    margin: 2vw;
    border: 2px solid #222;
    border-radius: 8px;
  }
  
  .divMenuPedido {
    width: 20%;
    margin: 2vw;
    border: 2px solid #222;
    border-radius: 8px;
  }

  /****************** PEDIDOS ******************/

  h2 {
    font-size: 1.3vw;
    margin: 0.5rem 1rem;
  }

  div p {
    text-align: center;
    font-size: 0.8vw;
    font-family: Arial, Helvetica, sans-serif;
  }

  /******************************************/

  textarea {
    resize: none;
  }

  a {
    text-decoration: none;
    color: #222;
  }
  
  section article img {
    width: 100%;
    border-radius: 0;
  }
  
/******************************************/
