  .subContenedorTitulo {
    width: 20%;
    border: 2px solid #222;
    border-bottom: 0px;
    border-radius: 8px 8px 0px 0px;
    font-size: 1vw;
    text-align: center;
  }

  /****************** METAS ******************/

  .contenedorMetas {
    width: 50%;
    margin: 27vh auto;
  }

  .subContenedorIntroduccionMetas {
    border: 2px solid #222;
    display: flex;
    border-radius: 0px 8px 8px 8px;
    justify-content: space-evenly;
    padding: 1vw;
  }
  
  .divMeta {
    text-align: center;
    width: 70%;
    margin: 2vw;
    border: 2px solid #222;
    border-radius: 8px;
    padding: 2%;
  }

  .botonEnviarMeta {
    width: 6vw;
  }

  .divMeta label, .divMeta input, .divMeta .boton {
    margin: 0 4%;
  }

  .divMeta input {
    width: 50%;
  }

  /***************************************/

  h2 {
    margin: 0.5vh 1vw;
  }

  /***************************************/
