 
 h2 {
  justify-content: center;
 }
 
 /*****************************/

  .tarjeta {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2% 0;
  }

  .tarjetas {
    width: 10%;
    font-size: 2.5rem;
  }

  /******************DIETAS******************/

  .contenedorDietas {
    width: 40%;
    margin: 8vw auto;
  }

  .subContenedorTitulo {
    border: 2px solid #222;
    width: 20vw;
    border-bottom: 0px;
    font-size: 1vw;
    border-radius: 8px 8px 0px 0px;
    text-align: center;
  }

  .subContenedorDatosDieta, 
  .subContenedorSuperiorDatosPlato, 
  .subContenedorInferiorDatosPlato {
    display: flex;
    /* width: 100%; */
    border: 2px solid #222;
  }

  .subContenedorDatosDieta {
    border-radius: 0 0 8px 8px;
    border-top: 0;
    justify-content: space-around;
  }

  .subContenedorSuperiorDatosPlato {
    /* border-radius: 0 8px 0 0; */
    border-top: 0;
    border-bottom: 0px;
  }

  .subContenedorInferiorDatosPlato {
    border-radius: 0 0 8px 8px;
    border-top: 0px;
  }

  .formDieta {
    display: flex;  
  }

  .divDatosDieta, .divDatosPlato {
    width: 50%;
    margin: 2rem 4rem;
  }

  .divDatosDietaNombre {
    margin: 4rem 0;
  }

  .divDatosDietaDescripcion {
    display: flex;
  }

  .botonEnviarDieta {
    width: 6rem;
    display: block;
    margin: 0 auto;
    margin: 2.5rem auto;
  }

  #labelDietaDescripcion {
    width: 16rem;
  }

  /***************** IDENTIFICACIONES *****************/

  .identificador {
    border: 2px solid #222;
    border-radius: 0 8px 0 0;
    border-bottom: 0;
    padding: 1rem;
    text-align: center;
  }

  .subidentificador {
    width: 100%;
  }

  /*****************PLATOS*****************/

  .contenedorPlatos {
    width: 45%;
    margin: 8rem auto;
    display: none;
  }

  .subContenedorTitulo {
    border: 2px solid #222;
    width: 20%;
    border-bottom: 0px;
    font-style: 2vw;
    border-radius: 8px 8px 0px 0px;
    text-align: center;
  }

  .botonEnviarPlato {
    width: 6rem;
    display: block;
    margin: 4rem auto;
    align-self: center;
    justify-content: center;
  }

/**************************MENU*************************/

  .contenedorMenus {
    width: 33%;
    margin: 5rem auto;
    display: none;
  }

  .subContenedorSuperiorDatosMenu {
    display: flex;
    border: 2px solid #222;
    border-top: 0;
    border-bottom: 0;
  }

  .subContenedorInternoDatosMenu {
    display: flex;
    border: 2px solid #222;
    border-top: 0;
    border-bottom: 0;
    margin: 0 auto;
    justify-content: space-around;
  }

  .subContenedorInferiorDatosMenu {
    display: flex;
    border: 2px solid #222;
    border-top: 0;
    border-radius: 0px 0px 8px 8px;
    margin: 0 auto;
    justify-content: space-around;
  }

  .divDatosMenuNombre {
    margin: 2rem auto;
    text-align: center;
  }

  .divDatosMenu {
    width: 50%;
    margin: 2rem;
    text-align: center;
  }

  .divImagenMenu {
    width: 50%;
    text-align: center;
    margin: 2rem;
  }

  .divImagenMenu img {
    width: 10vw;
  } 

  .botonEnviarMenu {
    display: block;
    margin: 0 auto;
    margin: 0.5rem auto;
  }

  ::-webkit-file-upload-button {
    display: block;
  }

  /**************************MENU*************************/
  
  textarea {
    resize: none;
    width: 10vw;
    height: 5vh;
  }

  input {
    border-radius: 3px;
    border: 2px solid #222;
  }

/******************************************/
  
  .boton {
    width: 8vw;
    height: 3rem;
    font-size: 1vw;
    text-align: center;
    border-radius: 6px;
    border: 2px solid #222;
    font-family: Coco-Sharp-Extrabold-trial;
    cursor: pointer;
  }

/***********************************/