
  section article img {
    width: 50%;
  }

   /******************************************************/ 

   form {
    display: flex;
    flex-direction: column;
   }

   .contenedorFormularios {
    width: 90%;
    margin: 3rem auto;
    padding: 3rem;
  }

  .subContenedorFormularios {
    display: flex;
    justify-content: space-between;
    border-radius: 0px 8px 0px 0px;
    justify-content: space-evenly;
  }

  .divFormulario {
    width: 20%;
    margin: 2rem;
    border: 2px solid #222;
    border-radius: 8px;
    text-align: center;
    padding: 1.9vw 2.5vw 0 2.5vw ;
  }

  section article img {
    width: 100%;
    border-radius: 0;
  }

  h2 {
    margin: 0.5rem 1rem;
  }

  div p {
    text-align: center;
  }

  .divFormulario h2, .divFormulario h3 {
    /*width: fit-content;*/
    margin: 1vw auto;
    padding: 0.5rem;
    border: 2px solid #222;
    border-radius: 6px;
  }

  

  .divFormulario h2 {
    font-size: 2vw;
  }

  .divFormulario h3 {
    font-size: 1.5vw;
    font-family:Arial, Helvetica, sans-serif;
  } 

  .divFormulario p {
    font-size: 3vw;
    margin: 0;
  }

  .nuevoFormulario {
    display: block;
    margin: 2rem auto;
    width: fit-content;
    border: 2px solid #222;
    border-radius: 8px;
    padding: 0.5rem;
    font-size: 2vw;
    justify-content: center;
  }



   /******************************************************/ 