  /*****************************************************/
  /*Imagen del perfil de la empresa*/
  
  section article img {
    width: 100%;
    border-radius: 0;
  }

  h2 {
    margin: 0.5vw 1vw;
  }

  /*****************************************************/

  .contenedorFotoNombreEmpresa, 
  .contenedorDatosContacto, 
  .contenedorDatosDireccion {
    width: 90%;
    margin: 4.5vh auto;
    border-radius: 8px;
    border: 2px solid #222; 
  }

  .contenedorFotoNombreEmpresa { 
    display: flex;
  }

  .subContenedorFoto {
    width: 30%;
  }

  .tarjetaEmpresa {
    width: 60%;
    margin: 2.3vw auto;
    border: 2px solid #222;
    border-radius: 8px;
  }

  .tarjetaEmpresa p {
    text-align: center;
  }
  
  .subContenedorNombre {
    width: 70%;
    height: 100%;
    display: block;
    text-align: center;
  }

  /*****************************************************/

  .contactoEmpresa {
    display: block;
    width: 100%;
    height: 50%;
    text-align: center;
  }

  .contactoEmpresa h2, .direccionEmpresa h2 {
    margin: 2vw 0 0 2vw;
    width: 10%;
    font-size: 1.5vw;
    text-align: center;
  }

  .tarjetaEmpresa h2 {
    font-size: 1.5vw;
  }

  /*****************************************************/

  .subContenedorNombre input, .contactoEmpresa input, .direccionEmpresa input {
    height: 3vh;
    text-align: center;
    border-radius: 6px;
    border: 2px solid #222;
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
  }

  .subContenedorNombre input {
    width: 15vw;
    margin: 19% 11%;
    text-align: center;
  }

  .contactoEmpresa input {
    margin: 7% 11%;
  }

  .direccionEmpresa input {
    width: 10vw;
    margin: 7% 10%;
  }

  .habilitarEdicion {
    display: block;
    margin: 2rem auto;
    width: fit-content;
    border: 2px solid #222;
    border-radius: 8px;
    padding: 0.5rem;
    font-size: 2vw;
    justify-content: center;
    font-family: Coco-Sharp-Extrabold-trial;
  }

  .habilitarEdicion:hover {
    cursor: pointer;
  }
  /*****************************************************/