@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

img {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
}

.cabecera {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
}

  .cabeceraTexto {
    width: 100%;
    margin-top: 3vh;
    margin-bottom: 5vh;

    font-family: prata;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
  }

  .subCabeceraTexto1 p{
    font-family: prata;
    font-size: 3rem;
    font-weight: 600;
  }

  .subCabeceraTexto1 h1 {
    font-size: 4rem;
    text-align: right;
    margin: 2.5vw;
    vertical-align: middle;
  }

  .subCabeceraTexto1 {
    display: flex;
    vertical-align: middle;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    /* background-color: lightblue; */
  }

  .subCabeceraTexto2 {
    display: flex;
    justify-content: center;
    width: 40%;
    /* background-color: lightpink; */
  }

  .subCabeceraTexto2 img {
    width: 80%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }

  .textoResaltado {
    letter-spacing: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #005B41;
    color: #ffffff;
    /* padding: 2rem; */
  }

  .tR1 {
    border-radius: 5px 20px 20px 20px;
  }

  .tR2 {
    border-radius: 20px 5px 20px 20px;
  }

  /*************************************/

  .sectionContenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .divSubContenedorIzquierda {
    display: flex;
    align-items: center; 
  }

  .divSubContenedorIzquierda a {
    margin: 0.3vw 0.9vw;
  }
  
  .divSubContenedorIzquierda img {
    border-radius: 7px;
  }

  .divSubContenedorDerecha {
    display: flex;
  }
  
  .divSubContenedorDerecha button {
    margin: 0 1vw;
    font-family: montSemiBold;
    font-size: 1vw;
  }

  section article img {
    animation: fadeIn 3s;

    width: 50%;
  }

  .sectionContenedorTitulos {
    margin: 4vw 0;
    text-align: center;
  }

  .articleSubContenedor {
    width: 50%;
    margin: 3vw;
    text-align: center;
  }

  .parrafo{
    font-size: 2vw;
  }

  section p {
    animation: fadeIn 3s;
    font-size: 5vw;
    margin: 0;
    /* font-family: Coco-Sharp-Bold-trial; */
    font-family: montSemiBold;

  }
  
  /********************/