  /**//**//**//**//**//**//**//**//**//**/
  @font-face {
    font-family: Coco-Sharp-Extrabold-trial;
    src: url(src/Coco-Sharp-Extrabold-trial.ttf);
  }

  @font-face {
    font-family: Coco-Sharp-Bold-trial;
    src: url(src/Coco-Sharp-Extrabold-trial.ttf);
  }

  body {
    margin: 0;
    font-family: Coco-Sharp-Bold-trial;
    background-color: #efefef;
  }
  
  p {
    font-family: 'Times New Roman', Times, serif;
  }
  
  header {
    background-color: #629677;
    padding: 0.8rem;
  }
 
  img {
    border-radius: 10px;
  }

  header img {
    width: 5rem;
    margin: 0.3rem;
  }

  header .linkCentrado {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-size: 1.5vw;
  }

  .divContenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .divSubContenedorIzquierda {
    display: flex;
    align-items: center; 
  }

  .divSubContenedorIzquierda a {
    margin-right: 10px;
  }
  
  .divSubContenedorDerecha {
    display: flex;
    align-items: center; 
  }
  
  .divSubContenedorDerecha a {
    margin: 0 1rem;
    /*font-family: Coco-Sharp-Bold-trial;*/
    font-size: 1vw;
  }

  .divSubContenedorDerecha img {
    border-radius: 100%;
  }
  
  /*****************************/

  .tarjeta {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2% 0;
  }

  .tarjetas {
    width: 10%;
    font-size: 2.5rem;
  }

  /******************DIETAS******************/

  .contenedorDietas {
    width: 40%;
    margin: 8vw auto;
  }

  .subContenedorTitulo {
    border: 2px solid #222;
    width: 20vw;
    border-bottom: 0px;
    font-size: 1vw;
    border-radius: 8px 8px 0px 0px;
    text-align: center;
  }

  .subContenedorDatosDieta, 
  .subContenedorSuperiorDatosPlato, 
  .subContenedorInferiorDatosPlato {
    display: flex;
    /* width: 100%; */
    border: 2px solid #222;
  }

  .subContenedorDatosDieta {
    border-radius: 0 0 8px 8px;
    border-top: 0;
    justify-content: space-around;
  }

  .subContenedorSuperiorDatosPlato {
    /* border-radius: 0 8px 0 0; */
    border-top: 0;
    border-bottom: 0px;
  }

  .subContenedorInferiorDatosPlato {
    border-radius: 0 0 8px 8px;
    border-top: 0px;
  }

  .formDieta {
    display: flex;  
  }

  .divDatosDieta, .divDatosPlato {
    width: 50%;
    margin: 2rem 4rem;
  }

  .divDatosDietaNombre {
    margin: 4rem 0;
  }

  .divDatosDietaDescripcion {
    display: flex;
  }

  .botonEnviarDieta {
    width: 6rem;
    display: block;
    margin: 0 auto;
    margin: 2.5rem auto;
  }

  #labelDietaDescripcion {
    width: 16rem;
  }

  /***************** IDENTIFICACIONES *****************/

  .identificador {
    border: 2px solid #222;
    border-radius: 0 8px 0 0;
    border-bottom: 0;
    padding: 1rem;
    text-align: center;
  }

  .subidentificador {
    width: 100%;
  }

  /*****************PLATOS*****************/

  .contenedorPlatos {
    width: 45%;
    margin: 8rem auto;
    display: none;
  }

  .subContenedorTitulo {
    border: 2px solid #222;
    width: 20%;
    border-bottom: 0px;
    font-style: 2vw;
    border-radius: 8px 8px 0px 0px;
    text-align: center;
  }

  .botonEnviarPlato {
    width: 6rem;
    display: block;
    margin: 4rem auto;
    align-self: center;
    justify-content: center;
  }

/**************************MENU*************************/

  .contenedorMenus {
    width: 33%;
    margin: 5rem auto;
    display: none;
  }

  .subContenedorSuperiorDatosMenu {
    display: flex;
    border: 2px solid #222;
    border-top: 0;
    border-bottom: 0;
  }

  .subContenedorInternoDatosMenu {
    display: flex;
    border: 2px solid #222;
    border-top: 0;
    border-bottom: 0;
    margin: 0 auto;
    justify-content: space-around;
  }

  .subContenedorInferiorDatosMenu {
    display: flex;
    border: 2px solid #222;
    border-top: 0;
    border-radius: 0px 0px 8px 8px;
    margin: 0 auto;
    justify-content: space-around;
  }

  .divDatosMenuNombre {
    margin: 2rem auto;
    text-align: center;
  }

  .divDatosMenu {
    width: 50%;
    margin: 2rem;
    text-align: center;
  }

  .divImagenMenu {
    width: 50%;
    text-align: center;
    margin: 2rem;
  }

  .divImagenMenu img {
    width: 10vw;
  } 

  .botonEnviarMenu {
    display: block;
    margin: 0 auto;
    margin: 0.5rem auto;
  }

  ::-webkit-file-upload-button {
    display: block;
  }

  /**************************MENU*************************/
  
  textarea {
    resize: none;
    width: 10vw;
    height: 5vh;
  }

  a {
    text-decoration: none;
    color: #222;
  }

/**********************COSAS RARAS********************/
  
 
  section article img {
    width: 50%;
  }
  
/***********************************/

  footer {
    padding: 3rem;
    background-color: #222;
    color: #aaa;
    margin-top: 1rem;
    font-size: 1vw;
  }

  footer p {
    margin: 0;
  }

  footer section {
    float: right;
  }

  footer a {
    transition: 0.3s;
    color: #aaa;
    text-decoration: none;
  }

  footer a:hover {
    color: cornflowerblue;
  }