  html {
    width: 100%;
    padding: 0%;
  }

  body {
    width: 100%;
    margin: 0;
    font-family: montLight;
    background-color: #ffffff;
    /* background-color: #e8e8e8; */
    /* background-color: #efefef; */
    /* background-color: rgb(255, 240, 210); */
  }
  
  a {
    text-decoration: none;
    color: #222;
  }

  img {
    border-radius: 10px;
  }

  /*************************************/

  header img, .cabecera img {
    width: 5vw;
  }

  .cabecera {
    width: 100%;
    display: flex;
    padding: 0%;
  }
  
  header, .cabecera {
    animation: fadeIn 3s;
    background-color: #ffffff;

  }

  /*************************************/

  .divContenedor {
    display: flex;
    width: 90%;
    margin: 2vh auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
  }
  
  .divSubContenedorIzquierda {
    display: flex;
    align-items: center; 
  }

  .divSubContenedorIzquierda a {
    margin: 0.3vw 0.9vw;
  }
  
  .divSubContenedorIzquierda img {
    border-radius: 7px;
  }
  
  .divSubContenedorDerecha img {
    border-radius: 3rem;
  }

  .divSubContenedorDerecha {
    display: flex;
    align-items: center;
    justify-content: right;

  }
  
  .divSubContenedorDerecha a {
    margin: 0 1vw;
    font-family: montLight;
    font-size: 1vw;
  }

  /*************************************/

  a span {
    font-size: 1.5vw;
  }
  
  /* section article img {
    width: 50%;
  } */

  .subtitle {
    color: grey;
    position: relative;

  }

  .subtitle::after {
    content:'';
    width: 0%;
    height: 3px;
    background-color:#005B41;
    position:absolute;
    left:0;
    bottom:-6px;
    transition:0.6s;
  }

  .subtitle:hover::after{
    width: 100%;
  }

  b {
    font-family: Arial, Helvetica, sans-serif;
  }